@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #323332;
}

@layer utilities {
  /* Hide the arrow buttons in input[type="number"] */
  .hide-arrows::-webkit-outer-spin-button,
  .hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .hide-arrows {
    -moz-appearance: textfield;
  }
}
