@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: true;
  --color-primary: #008233;
  --color-secondary: #43b130;
  --color-accent: #e8b75c;
}
